<%- include('../common/header.ejs')-%>

<div class="container">
    <div class="jumbotron vertical-center">
        <h1>Cookie Policy</h1>
        <p>This site uses cookies to store the user session and allow authorised users to use the site.</p>
        <p> Return <a href="/">Home</a></p>
    </div>
</div>

<%- include('../common/footer.ejs') -%>