<%- include('header.ejs')-%>
<%- include('navbar.ejs') -%>

<div class="container">
    <div class="jumbotron vertical-center">
        <h1>About</h1>
        <p>This is the MDB home page:</p>
        <p>M - Meen (Mongodb, Express, EJS, Node)</p>
        <p>D - Demo</p>
        <p>B - Base</p>
        <p>You can find our repo on <a href="https://bitbucket.org/madlydan/mdb/overview">Bitbucket</a></p>
        <p>Contact Dan to get access</p>
    </div>
</div>

<%- include('footer.ejs') -%>
