<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MDB</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/users">Users</a></li>
                <li><a href="/books">Books</a></li>
<%if(currentUser.role === 'Admin'){%>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Reports
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/reports/books">Books</a> </li>
                        <li><a href="/reports/users">Users</a></li>
                        <li><a href="/reports/stats">Statistics</a></li>
                    </ul>
                    <%}%>
            </ul>

<ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><%=user.username%>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">Profile</a> </li>
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/cookiePolicy">Cookie Policy</a></li>
                    </ul>
                    </ul>
            </ul>
        </div>
    </div>
</nav>
