<%- include('../common/header.ejs') -%>
<%- include('../common/navbar.ejs') -%>

<div class="container">

<a href="/books/create" class="btn btn-primary" role="button">Create Book</a>

    <table class="table table-hover" style="width:100%">
        <tr>
            <th class=class="table">Name       </th>
            <th class=class="table">Author     </th>
            <th class=class="table">Genre      </th>
            <th class=class="table">Description</th>
            <th class=class="table">edit       </th>
            <th class=class="table">delete     </th>
        </tr>
        <% book.forEach(function(book){ %>
        <tr>

            <td style="text-align:center"><u><%= book.name %> </u> </td>

            <td style="text-align:center"><u><%= book.author %> </u> </td>

            <td style="text-align:center"><u><%= book.genre %> </u> </td>

            <td style="text-align:center"><u><%= book.description %> </u> </td>

            <td style="text-align:center">
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/books/update/<%=book.name %>';" value="Edit <%=book.name%>">
                    <span class="glyphicon glyphicon-wrench"></span>
                </button>
            </td>

            <td style="text-align:center">
                <button type="button" class="btn btn-danger btn-lg" onclick="location.href='/books/delete/<%=book.name %>';">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>


        </tr>
        <% }); %>
    </table>
</div>

<%- include('../common/footer.ejs') -%>
