<%- include('../common/header.ejs') -%>
<%- include('../common/navbar.ejs') -%>
<br>

<% if (locals.message) { %>
<h3 style="color: red" ><%= message %></h3>
<% } %>

<div class="container">
<form action="/books/create" method="post" >

    <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" name="name" placeholder="name">
    </div>

    <div class="form-group">
        <label for="author">author</label>
        <input type="text" class="form-control" name="author" placeholder="author">
    </div>

    <div class="form-group">
        <label for="genre">genre</label>
        <select type="text" class="form-control" name="genre" placeholder="genre">
        <% for(var i=0; i< genres.length; i++){ %>
          <option><%= genres[i]%></option>
          <% }; %>
        </select>
    </div>

    <div class="form-group">
        <label for="description">description</label>
        <textarea type="text" class="form-control" name="description" placeholder="description"></textarea>
    </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

</form>
</div>

<%- include('../common/footer.ejs') -%>
