<%- include('../common/header.ejs') -%>
<br>

<% if (locals.message) { %>
<h3 style="color: red" ><%= message %></h3>
<% } %>

<div class="container">
 <div class="jumbotron vertical-center">
<form action="/login" method="post" >

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    <a href="/signup">Sign Up</a>

</form>
</div>
</div>

<%- include('../common/footer.ejs') -%>
