<%- include('../common/header.ejs') -%>
<%- include('../common/navbar.ejs') -%>



<div class="container">
    <div class="jumbotron vertical-center">
        <ul class="list-group">
            <li class="list-group-item">Username: <%= user.username%></li>
            <li class="list-group-item">Name: <%= user.name%></li>
            <li class="list-group-item">Role: <%= user.role%></li>
            <li class="list-group-item">
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/users/update/<%=user.username %>';" value="Edit <%=user.username %>">
                    <span class="glyphicon glyphicon-wrench"></span>
                </button>
                <button type="button" class="btn btn-danger btn-lg" onclick="location.href='/users/delete/<%=user.username %>';">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
    <a href="/users/update/password/<%=user.username%>" class="btn btn-primary btn-lg" role="button">Update Password</a>
            </li>
        </ul>
        </div>
</div>

<%- include('../common/footer.ejs') -%>
