<%- include('../common/header.ejs') -%>
<br>

<% if (locals.message) { %>
<h3 style="color: red" ><%= message %></h3>
<% } %>


<div class="container">
<form action="/signup" method="post" >

    <div class="form-group">
        <label for="confirm"> name</label>
        <input type="text" class="form-control" name="name" placeholder="name">
    </div>

    <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" name="username" placeholder="username">
    </div>

    <div class="form-group">
        <label for="role">role</label>
        <select input type="text" class="form-control" name="role" placeholder="role">
            <% for(var i=0; i< roles.length; i++){ %>
            <option><%= roles[i]%></option>
            <% }; %>
        </select>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="confirm"> confirm Password</label>
        <input type="password" class="form-control" name="confirm" placeholder="Password">
    </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>

</form>
</div>

<%- include('../common/footer.ejs') -%>
