<%- include('../common/header.ejs') %>
<%- include('../common/navbar.ejs') %>

<% if (locals.message) { %>
<h3 style="color: red" ><%= message %></h3>
<% } %>

<div class="container">
<form action="/users/update/password/<%= user.username %>/admin" method="post" >

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="confirm"> confirm Password</label>
        <input type="password" class="form-control" name="confirm" placeholder="Password">
    </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
</div>

<%- include('../common/footer.ejs') %>
