<%- include('../common/header.ejs') %>
<%- include('../common/navbar.ejs') %>

<% if (locals.message) { %>
<h3 style="color: red" ><%= message %></h3>
<% } %>

<div class="container">
<form action="/users/update/<%= user.username %>" method="post" >

    <div class="form-group">
        <label for="username">username</label>
        <input type="text" class="form-control" name="username" placeholder="username" value="<%= user.username %>">
    </div>

    <div class="form-group">
        <label for="name"> name</label>
        <input type="text" class="form-control" name="name" placeholder="name" value="<%= user.name%>">
    </div>

    <div class="form-group">
        <label for="role">role</label>
        <select input type="text" class="form-control" name="role" placeholder="role" value="<%= user.role%>">
            <% for(var i=0; i< roles.length; i++){ %>
            <option><%= roles[i]%></option>
            <% }; %>
        </select>
    </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>
</div>

<%- include('../common/footer.ejs') %>
