<%- include('../common/header.ejs') -%>
<%- include('../common/navbar.ejs') -%>

<div class="container">
    <table class="table table-hover" style="width:100%">
        <tr>
            <th class="table">Username</th>
            <th class="table">Name    </th>
            <th class="table">Role    </th>
            <th class="table">Edit    </th>
             <%if(currentUser.role === 'Admin'){%>
            <th class="table">Update Password</th>
            <%}%>
            <th class="table">Delete  </th>
        </tr>
        <% users.forEach(function(user){ %>
        <%if (user.username !== currentUser.username){%>
        <tr>

            <td style="text-align:center"><u><%= user.username %> </u> </td>

            <td style="text-align:center"><u><%= user.name     %> </u> </td>

            <td style="text-align:center"><u><%= user.role     %> </u> </td>

            <td style="text-align:center">
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/users/update/<%=user.username %>';" value="Edit <%=user.username %>">
                    <span class="glyphicon glyphicon-wrench"></span>
                </button>
            </td>

         <%if(currentUser.role === 'Admin'){%>

            <td style="text-align:center">
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/users/update/password/<%=user.username%>/admin';">
                     <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>

            <%}%>

            <td style="text-align:center">
                <button type="button" class="btn btn-danger btn-lg" onclick="location.href='/users/delete/<%=user.username %>';">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>

        </tr>
        <%}%>
        <% }); %>
    </table>
</div>

<%- include('../common/footer.ejs') -%>
