<%- include('../common/header.ejs') -%>
<%- include('../common/navbar.ejs') -%>

<a href="/reports/books/export" class="btn btn-primary" role="button">Export</a>

<link rel="stylesheet" href="/css/dataTables.min.css" type="text/css">

<table id="booksReport" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Description</th>
                <th>Last Modified</th>
                <th>Created</th>
            </tr>
        </thead>
    </table>

<script>

$(document).ready( function () {
    $('#booksReport').DataTable({
        ajax: {
            url: "/api/books",
            dataSrc: ''
            },
            columns: [
            {data: 'name'}, 
            {data: 'author'}, 
            {data: 'genre'}, 
            {data: 'description'},
            {data: 'lastModified'},
            {data: 'created'}],
            "deferRender": true,
            stateSave: true
    });
} );

</script>

<%- include('../common/footer.ejs') -%>