<%- include('../common/header.ejs') -%>
<%- include('../common/navbar.ejs') -%>

<a href="/reports/stats/export" class="btn btn-primary" role="button">Export</a>

<link rel="stylesheet" href="/css/dataTables.min.css" type="text/css">

<table id="statsReport" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Route</th>
                <th>Request</th>
                <th>User</th>
                <th>Date Requested</th>
            </tr>
        </thead>
    </table>

<script>

$(document).ready( function () {
    $('#statsReport').DataTable({
        ajax: {
            url: "/api/stats",
            dataSrc: ''
            },
            columns: [
            {data: 'route'}, 
            {data: 'request'}, 
            {data: 'user_username'},
            {data: 'dateRequested'}
            ],
            "deferRender": true,
            stateSave: true
    });
} );

</script>

<%- include('../common/footer.ejs') -%>